.btn {
    background-color: $darkBlue;
    color: #fff;
    text-decoration: none;
    padding: 0.8rem 1.2rem;
    display: inline-block;
    
    &--search {
        font-size: 0.8rem;
        margin-top: 6rem;      

        @mixin atSmall {
            margin-top: 0;
            font-size: 1.2rem;
            background-color: $lightBlue;
            color: $darkBlue;    
        }
    }
}