.btn {
    background-color: $darkBlue;
    color: #fff;
    text-decoration: none;
    padding: 0.8rem 1.2rem;
    display: inline-block;
    
    &--lightBlue {
        font-size: 0.8rem;
        margin-top: 1.8rem;      

        @mixin atSmall {
            margin-top: 0;
            font-size: 1.2rem;
            background-color: $lightBlue;
            color: $darkBlue;    
        }
    }

    &--lightBlueWithBg {
        background-color: $lightBlue;
        color: $darkBlue;  
        font-size: 0.9rem;
        font-weight: 500;
        padding: 0.8rem;
        margin: 1.3rem auto;
    }
}