.btn {
    background-color: $darkBlue;
    color: #fff;
    text-decoration: none;
    padding: 0.8rem 1.2rem;
    display: inline-block;
    
    &__lightblue {
        background-color: $lightBlue;
        color: $darkBlue;
    }

    &__large {
        font-size: 1.1rem;
        padding: 0.9rem 1.4rem;        
    }

}