.contact {
    /* position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(255, 255, 255, 0.94);
    display: flex;
    z-index: 5; */

    font-family: 'Roboto', sans-serif;
    padding: 20px;
    
    &__title {
        font-size: 1.2rem;  
        margin-bottom: 1rem;
    }

    &__description {    
        font-size: 1rem;  
        line-height: 1.6rem;
        margin-top: 0;         
        text-align: center;
    }

    a {
        font-size: 1.5rem;
        margin: 4px 10px 30px 10px;   

        @mixin atMedium {
            font-size: 3rem;
            margin: 10px 22px 40px 22px;   
        }
    }
}