.gen-text-container {
    p {
        font-family: 'Roboto', sans-serif;
        font-size: 1.05rem;
        line-height: 1.6rem;
        margin: 0 0 1.8rem 0;
    }  
    p a {
        font-weight: 600;
    }    
}