.main-bg {
    position: relative;
    border-bottom: 2px solid $darkBlue;

    &__image {
        display: block;
    }
    &__text-area {
        color: $darkBlue;          
        position: absolute;
        top: 20%;
        left: 5%;    
    }
    &__title {    
        font-family: 'Gentium Basic', serif;
        font-style: italic;
        margin: 0;
        font-weight: 700;
        font-size: 2rem; /* base font size for title */
        
        @mixin atSmall {
            font-size: 2.2rem;            
        }
        @mixin atMedium {            
            font-size: 2.8rem;            
        }
        @mixin atLarge {
            font-size: 3.4rem;
            text-shadow: 2px 2px 0 rgba(0,0,0, .1);        
        }
    }

    &__subtitle {
        font-size: 1rem;
        font-weight: 300;
        font-style: italic;
        margin: 0.3rem 0 3rem 0.3rem;

        @mixin atSmall {
            font-size: 1rem;
        }
        @mixin atMedium {            
            font-size: 1.4rem;
            font-weight: 200;
            font-style: italic;            
        }
        @mixin atLarge {                 
            font-size: 1.6rem;
            font-weight: 200;          
        }
    }
}