.main-bg {
    position: relative;
    border-bottom: 2px solid $darkBlue;

    &__image {
        display: block;
    }

    &__text_area {
        color: $darkBlue;  
        font-family: 'Merriweather', serif;
        position: absolute;
        top: 20%;
        left: 5%;    
    }

    &__title {
        /* font-family: 'Noto Sans JP', sans-serif; */
        font-family: 'Nerko One', cursive;
        margin: 0;
        font-weight: 600;
        font-size: 1.8rem; /* base font size for title */
        
        @mixin atSmall {
            font-size: 2.2rem;            
        }
        @mixin atMedium {            
            font-size: 2.6rem;            
        }
        @mixin atLarge {
            font-size: 3.2rem;
            text-shadow: 2px 2px 0 rgba(0,0,0, .1);        
        }
    }

    &__subtitle {
        font-family: 'Noto Sans JP', sans-serif;        
        font-size: 1rem;  /* base font size for subtitle */  
        font-weight: 300;

        @mixin atSmall {
            font-size: 1rem;
        }
        @mixin atMedium {            
            font-size: 1.4rem;
            font-weight: 200;
            margin: 1rem 0 3rem;
        }
        @mixin atLarge {
            font-family: 'Nerko One', cursive;        
            font-size: 1.7rem;
            font-weight: 200;
            margin: 1rem 0 3rem;
        }
    }
}









/* text-shadow: 2px 2px 0 rgba(0,0,0, .1); */




