.nav-main {
    font-family: 'Roboto', sans-serif;
    font-size: 0.95rem;

    &--align-right {
        float: right;
    }

    ul {
        margin: 0;
        padding: 12px;
        @mixin clearfix;
    }
    li {
        list-style: none;
        float: left;
        padding-right: 20px;
    }
    a {
        color: #424949;
        font-weight: 600;
        text-decoration: none;
    }
}
