.package-title {
    font-family: 'Merriweather', serif;
    font-size: 1.4rem;
    text-align: center;
    margin: 1.8rem auto 2rem;

    strong {
        color: $coral;        
    }

    @mixin atMedium {
        font-size: 2.4rem;
        font-weight: 500;   
    }    
}