.part-section {
    padding: 1.2rem 0;

    @media atMedium {
        padding: 3rem 0;
        margin-bottom: 10rem;
    }

    &--bluebg {
        background-color: $darkBlue;
        color: #fff;
    }
}