.part-footer {
    background-color: $darkBlue;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    
    padding: .5rem 0;
    text-align: center;      

    &__text {
        color: $dimGray;
        font-size: 0.9rem;
        font-weight: 200;
    }
}