.row {
    @mixin clearfix;

    &--t-padding {
        padding-top: 80px;
    }
    &--rim {
        margin-right: -40px;
    }    
    &--rim > div { /* select all direct children */
        padding-right: 40px;
    }
    &--rim-large {
        margin-right: -100px;
    }
    &--rim-large > div {
        padding-right: 100px;
    }
    &__b-margin {
        margin-bottom: 2rem;
    }

    @mixin atMedium {    

        &__col-medium-6 {
            float: left;
            width: 50%;
        }
        &__col-medium-5 {
            float: left;
            width: 38%; 
        }
        &__col-medium-7 {
            float: left;
            width: 62%; 
        }
        &__col-medium-4 {
            float: left;
            width: 33.33%;
        }
    }   
    
    &--shadow {
        box-shadow: 5px 5px 10px gray;
    }
    &--equal-height {
        &mixin atMedium {      
            display: flex;
            & > div {
                float: none;
                display: flex;
            }
        }
    }

}