.row {
    @mixin clearfix;

    &--rim {
        margin-right: -40px;
    }    
    &--rim > div { /* select all direct children */
        padding-right: 40px;
    }
    &--rim-large {
        margin-right: -80px;
    }
    &--rim-large > div {
        padding-right: 40px;
    }
    &__b-margin {
        margin-bottom: 2rem;
    }

    @mixin atMedium {    

        &__col-medium-6 {
            float: left;
            width: 50%;
        }
        &__col-medium-5 {
            float: left;
            width: 38%; 
        }
        &__col-medium-7 {
            float: left;
            width: 62%; 
        }
    }   
    
    &--shadow {
        box-shadow: 5px 5px 10px gray;
    }
}